* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@media screen and (max-width: 780px) {
    html>body {
        background-image: url(../img/minimalist\ purple\ background\ phone.jpg);
        display: flex;
        flex-direction: column;
    }

    body > .login-container {
        width: 370px;
        margin-top: 80px;
    }

    .login-container > .vazios {
        margin-bottom: 0px;
    }

    .login-container > .cadastro {
        margin: 0;
        margin-bottom: 20px;
    }

    .header > .loja-text {
        font-size: 30px;
    }

    .input-box > ::placeholder {
        font-size: 20px;
    }

    body > .header > .loja-text {
        font-size: 25px;
    }

    .header > a > .logo {
        width: 110px;
    }

    .login-container > .input-box > input {
        width: 70%;
    }

    .input-box > .lembre {
        text-align: center;
        margin: 0 auto;
    }

}

@media screen and (max-width: 400px) {
    body > .login-container {
        width: 350px;
        margin-top: 80px;
    }

    .header > .loja-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    body > .login-container {
        width: 270px;
        margin-top: 80px;
    }

    .header > .loja-text {
        font-size: 20px;
    }

    .input-box > .botao {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

body {
    background-image: url(../img/minimalist\ purple\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loja-text {
    position: absolute;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: black;
    font-size: 35px;
    margin-top: 2vw;
}

.loja-text:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 458px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container > p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 48px;
    text-shadow: 2px 2px 2px black;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box > .text {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 30px;
    background-color: #d900fa00;
}

::placeholder {
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.text {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.text:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.password {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.confirm-password {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}


.lembre {
    display: flex;
    color: white;
    font-size: 20px;
    float: left;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.lembre > a:hover {
    text-decoration: underline;
}

.lembre > a {
    text-decoration: none;
    color: white;
    float: right;
    margin: 0 auto;
}

.confirm-password {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border-radius: 10px;
    border: 0;
    margin-bottom: 15px;
}

.confirm-password:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.botao {
    width: 200px;
    height: 47px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #9000ff00;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    line-height: 47px;
    margin-bottom: 30px;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

textarea:focus,
input:focus {
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
}

.login-container > .vazios {
    font-size: 20px;
}

.vazio {
    color: rgb(255, 38, 38);
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.resultado {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

.login {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
}

.bem-vindo {
    color: rgb(0, 224, 0);
    font-size: 23px;
    margin-bottom: 20px;
}
