* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@media screen and (max-width: 1024px) {
    html>body {
        background-image: url(../img/minimalist\ purple\ background\ phone.jpg);
        display: flex;
        flex-direction: column;
    }

    body>.login-container {
        margin-left: 15vw;
    }
}

@media screen and (max-width: 780px) {

    body>.header{
        margin: 0 auto;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    body>.login-container {
        width: 360px;
        margin: 0;
        margin-top: 60px;
    }

    body>.login-container>.cadastre {
        font-size: 27px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .voltar>.catalogo {
        margin-bottom: 20px;
    }

    main>.input-box>.text {
        height: 50px;
    }

    .header>a>.logo {
        width: 130px;
    }

    .login-container>.input-box>input {
        width: 80%;
    }

    .input-box>.botao {
        width: 120px;
        height: 48px;
        font-size: 17px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .input-box>textarea {
        height: 50px;
    }

}

@media screen and (max-width: 300px) {
    body>.login-container {
        width: 276px;
        margin-top: 60px;
    }

    body>.login-container>.cadastre {
        font-size: 25px;
    }

    main>.input-box>.text {
        width: 250px;
        height: 45px;
    }

    .login-container>main {
        max-width: 250px;
    }

    .input-box>.botao {
        width: 100px;
        height: 48px;
        font-size: 17px;
    }

    .input-box>textarea {
        width: 250px;
        height: 48px;
    }

}

body {
    background-image: url(../img/minimalist\ purple\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.voltar {
    display: flex;
    color: white;
    font-size: 20px;
    float: left;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 0 auto;
}

.catalogo {
    text-decoration: none;
    color: white;
}

.voltar>a:hover {
    text-decoration: underline;
}

.login-container {
    box-sizing: border-box;
    position: absolute;
    width: 458px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cadastre {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box>.text {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 30px;
    background-color: #d900fa00;
}

.vazio {
    color: rgb(255, 38, 38);
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    margin-top: 20px;
    text-align: center;
}

.login-container>.vazios {
    font-size: 20px;
}

.text {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.text:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.lembre>a {
    text-decoration: none;
    color: white;
    float: right;
    margin-left: 120px;
}

.botao {
    width: 200px;
    height: 47px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #9000ff00;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    line-height: 47px;
    margin-bottom: 30px;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

textarea:focus,
input:focus {
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
}

.input-box>p {
    color: white;
    font-size: 1.3em;
    margin-bottom: 1vh;
}

.resultado {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    margin-bottom: 30px;
}

main {
    max-width: 320px;
    margin: 0 auto;
}

textarea {
    resize: none;
    width: 100%;
    height: 6vw;
    margin-bottom: 30px;
    background-color: #9000ff00;
    border-radius: 10px;
    border: 0;
    border-bottom: 3px solid #ffffff;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    text-shadow: 1px 1px 1px black;
}

textarea:hover {
    transition: 300ms;
    transform: scale(1.05);
}
