* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@media (max-width: 1024px) {
    header {
        margin-bottom: 35vw;
    }

    header> .top-text > .botao {
        width: 30vw;
        height: 15vw;
        font-size: 5vw;
        margin-top: 15vw;
    }

    header>.loja-text {
        font-size: 6vw;
    }

    header> a > .logo {
        width: 25vw;
    }

    header>.top-text>p {
        font-size: 4vw
    }

    header>.davy {
        width: 18vw;
        height: 18vw;
        margin-top: 15vw;
        margin-right: 20vw;
    }

    main>hr {
        height: 0.4vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-image: url(/img/Purple\ galaxy\ dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    height: 11vw;
}

.logo {
    float: left;
    width: 12vw;
}

.loja-text {
    position: absolute;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: black;
    font-size: 35px;
    margin-top: 2vw;
}

.loja-text:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.davy {
    background-image: url(/img/davyjones.jpg);
    width: 6vw;
    height: 6vw;
    background-size: cover;
    float: right;
    border-radius: 15px;
    margin-top: 2vh;
    margin-right: 2vw;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border: 0;
    color: white;
    float: right;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    margin: 0 auto;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.top-text>p {
    color: white;
    float: right;
    margin: 0 auto;
    margin-top: 2vw;

}

.top-text {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 3vw;
    margin-top: 2vw;
    font-size: 25px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    margin-top: 2vw;
}

.content>img {
    margin-left: 20px;
    width: 50%;
    border-radius: 10px;
}

.content>img:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.content-text {
    color: white;
    font-size: 25px;
    margin-top: 5vh;
    margin-left: 1.6vw;
    font-weight: bold;
}

main {
    max-width: 90vw;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

hr {
    border: 0;
    width: 91vw;
    height: 0.2vw;
    background: rgb(248, 0, 232);
    background: linear-gradient(90deg, rgba(248, 0, 232, 0.1516981792717087) 0%, rgba(166, 0, 255, 1) 50%, rgba(255, 0, 232, 0.14889705882352944) 100%);
    margin-top: 5vh;
    margin-bottom: 5vh;
}