* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@media (max-width: 1024px) {
    html>body {
        background-image: url(../img/minimalist\ purple\ background\ phone.jpg);
    }

    header {
        margin-bottom: 30vw;
    }

    main>.content-text {
        font-size: 20px;
    }

    header>.top-text>.botao {
        width: 30vw;
        height: 15vw;
        font-size: 5vw;
        margin-top: 2.5vw;
    }

    header>a>.logo {
        width: 25vw;
    }

    header>.top-text>p {
        font-size: 4vw
    }

    header>.pfp {
        width: 18vw;
        height: 18vw;
        margin-right: 20vw;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 350px) {
a>.logo {
    width: 36vw;
}
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-image: url(../img/minimalist\ purple\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 11vw;
}

.logo {
    width: 150px;
}

.pfp {
    background-image: url(../img/caio\ pfp.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    float: right;
    border-radius: 15px;
    margin-left: 2vw;
}

.seta1 {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid purple;
    margin-right: 30px;
}

.seta2 {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid purple;
    margin-left: 30px;
}

.container-seta {
    display: flex;
    justify-content: space-evenly;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    float: right;
    text-decoration: none;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.top-text>p {
    color: white;
    float: right;
    margin: 0 auto;
    margin-top: 2vw;

}

.top-text {
    display: flex;
    float: right;
    margin-right: 3vw;
    margin-top: 2vw;
    font-size: 25px;
}

.content>img {
    margin-left: 20px;
    width: 50%;
    border-radius: 10px;
}

.content>img:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.content-text {
    color: white;
    font-size: 25px;
    margin-top: 5vh;
    margin-left: 1.6vw;
    font-weight: bold;
}

main {
    max-width: 90vw;
    margin: 0 auto;
}

hr {
    width: 100%;
    border: 0;
    height: 3px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.152) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.149) 100%);
    margin-bottom: 20px;
    margin-top: 50px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: #FF00F5 #8F00FF;
}

.content::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

.content::-webkit-scrollbar-track {
    background: #ffffff00;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 20px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #ffffff81;
    border-radius: 5px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #f8f8f8c2;
}

.content>img {
    margin-left: 20px;
    width: 230px;
    border-radius: 10px;
}

.content>img:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.excluir {
    font-size: 25px;
    margin-top: 3.5vw;
    color: red;
    height: 30px;
}

.excluir:hover {
    transition: 300ms;
    transform: scale(1.05);
    cursor: pointer;
}

.top-left {
    float: left;
}

#resultado {
    display: flex;
    flex-direction: row;
}

.img-resultado {
    margin-left: 20px;
    border-radius: 20px;
    width: 230px;
    height: 150px;
}

.img-resultado:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe00;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #fafafa;
    color: white;
    border-radius: 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(251, 1, 1);
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}

.remover {
   margin-left: 10px;
}