* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 1024px) {
    html>body {
        background-image: url(../img/minimalist\ purple\ background\ phone.jpg);
    }

    body>.back1 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    body>.back2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    body>.back3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center
    }

    .back1>.botao {
        margin: 0;
    }

    .container2>.email {
        width: 300px
    }

    .back1>.logo {
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .back2>.gif {
        width: 60%;
        height: 60%;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .back2>.phone {
        width: 60%;
        height: 60%;
        margin: 0;
    }

    .container4>.catalogos>img {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .back1>.back-text1 {
        font-size: 40px;
    }

    .back1>.back-text2 {
        font-size: 40px;
    }

    .back1>.back-text3 {
        font-size: 20px;
    }

    .container3>.back-text4 {
        font-size: 40px;
    }

    .container3>.back-text5 {
        font-size: 20px;
    }

    .back2>.container3 {
        margin: 0;
    }

    .container4>.back-text4 {
        font-size: 40px
    }

    .container4>.back-text5 {
        font-size: 20px
    }

    body>.back3>img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        margin-top: 40px
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-image: url(../img/minimalist\ purple\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loja-text {
    position: absolute;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: black;
    font-size: 35px;
    margin-top: 2vw;
}

.loja-text:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.center {
    text-align: center;
    margin: 0 auto;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.container3 {
    margin-left: 5vw;
}

.container4 {
    margin-left: 5vw;
    float: left;
}

.back1 {
    height: 100%;
}

.back-text1 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
    margin-top: 8vh;
}

.back-text2 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 2vh;
}

.back-text3 {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.back2 {
    height: 100%;
    margin-bottom: 60px;
}

.back-text4 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
}

.back-text5 {
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
}

.back3 {
    height: 100%;
    margin-bottom: 60px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    color: white;
    font-size: 1.5em;
    margin-right: 60px;
    float: right;
    margin-top: 2vh;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.botao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px black;
    margin-top: 6vh;
    text-decoration: none;
    text-align: center;
}

.botao2:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.email {
    width: 400px;
    height: 60px;
    border: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 6vh;
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
    float: left;
    padding-left: 2vw;
}

::placeholder {
    color: white;
    font-size: 22px;
}

.gif {
    width: 450px;
    height: 350px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 40px;
    margin-left: 100px;
    float: left;
}

.phone {
    width: 350px;
    height: 390px;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
}

.tv {
    width: 600px;
    height: 390px;
    margin-right: 60px;
    margin-top: 60px;
    float: right;
}

.catalogos {
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-evenly;
}

hr {
    width: 100%;
    border: 0;
    height: 0.5vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.152) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.149) 100%);
    margin-bottom: 10vh;
}
