* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-image: url(/img/Purple\ galaxy\ dark.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.loja-text {
    text-decoration: none;
    font-size: 3.5vh;
    color: rgb(172, 0, 172);
    margin-top: 1vh;
    height: 100%;
}

.loja-text:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.center {
    text-align: center;
    margin: 0 auto;
}

.container {
    display: flex;
    margin: 0 auto;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container3 {
    margin-left: 5vw;
}

.container4 {
    margin-left: 5vw;
    float: left;
}

.back1 {
    height: 760px;
}

.back-text1 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
    margin-top: 8vh;
}

.back-text2 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 2vh;
}

.back-text3 {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.back2 {
    height: 760px;
}

.back-text4 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
}

.back-text5 {
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
}

.back3 {
    height: 760px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10vw;
    height: 6vh;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(192, 0, 192);
    border: 0;
    color: white;
    font-size: 1.5em;
    float: right;
    margin-right: 2vw;
    margin-top: 2vh;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.botao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 6vh;
    border-radius: 10px;
    background-color: rgb(192, 0, 192);
    border: 0;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px black;
    margin-top: 6vh;
    margin-left: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.botao2:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.email {
    width: 27vw;
    height: 6vh;
    border: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 6vh;
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
    float: left;
    padding-left: 2vw;
}

::placeholder {
    color: white;
    font-size: 22px;
}

.gif {
    background-image: url(/img/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 350px;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 40px;
    float: left;
}

.phone {
    background-image: url(/img/kindpng_6805458.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 390px;
    margin-top: 3vh;
    margin-right: 5vw;
    float: right;
}

.catalogos {
    margin-top: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    float: left;
}

.tv {
    background-image: url(/img/TV-PNG-HD-Quality.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 490px;
    margin-top: 20vh;
    margin-right: 5vw;
    float: right;
}

hr {
    border: 0;
    height: 0.5vh;
    background: rgb(248, 0, 232);
    background: linear-gradient(90deg, rgba(248, 0, 232, 0.1516981792717087) 0%, rgba(166, 0, 255, 1) 50%, rgba(255, 0, 232, 0.14889705882352944) 100%);
    margin-bottom: 10vh;
}