* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@media screen and (max-width: 780px) {
    html>body {
        background-image: url(../img/minimalist\ purple\ background\ phone.jpg);
        display: flex;
        flex-direction: column;
    }

    body>.login-container {
        width: 360px;
        margin-top: 80px;
    }

    .header>a>.logo {
        width: 150px;
    }

    body>.header{
        margin: 0 auto;
    }

    .login-container>.input-box>input {
        width: 80%;
    }

    .input-box>.lembre {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 300px) {
    body>.login-container {
        width: 270px;
        margin-top: 80px;
    }



    .header>.logo {
        width: 10px;
    }
}

body {
    background-image: url(../img/minimalist\ purple\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 150px;
}

.login-container {
    box-sizing: border-box;
    position: absolute;
    width: 458px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container>p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 48px;
    text-shadow: 1px 1px 1px black;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box>.lembre {
    text-align: center;
    margin: 0 auto;
}

.input-box>.text {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 30px;
    background-color: #d900fa00;
}

::placeholder {
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.text {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.password {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.text:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.checkbox {
    margin-right: 10px;
    width: 25px;
}

.lembre {
    display: flex;
    color: white;
    font-size: 20px;
    float: left;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.lembre>a:hover {
    text-decoration: underline;
}

.lembre>a {
    text-decoration: none;
    color: white;
    float: right;
}

.botao {
    width: 200px;
    height: 47px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #9000ff00;
    border-radius: 10px;
    border: 0;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    line-height: 47px;
    margin-bottom: 30px;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

textarea:focus,
input:focus {
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
}

.login-container>.vazios {
    font-size: 20px;
}

.errado {
    color: red;
    font-size: 25px;
    margin-bottom: 20px;
}

.bem-vindo {
    color: rgb(0, 224, 0);
    font-size: 23px;
    margin-bottom: 20px;
}

.vazio {
    color: rgb(255, 38, 38);
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.resultado {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

.catalog {
    color: blue;
    text-decoration: none;
}

.catalog:hover {
    text-decoration: underline;
}