* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.back1 {
    background-image: url(../img/movies1.jpg);
    height: 99vh;
    background-color: rgb(11, 11, 11);
    background-repeat: no-repeat;
    background-size: cover;
}

.back2 {
    background-image: url(../img/movies-background.jpg);
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.back3 {
    background-image: url(../img/movies-background.jpg);
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.back4 {
    background-image: url(../img/movies-background.jpg);
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

body {
    background-attachment: fixed;
    background-color: rgb(15, 15, 15);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10vw;
    height: 6vh;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border: 0;
    color: white;
    font-size: 1.5em;
    float: right;
    margin-right: 2vw;
    margin-top: 2vh;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.botao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border: 0;
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    margin-top: 6vh;
    margin-left: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.botao2:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.center {
    text-align: center;
    margin: 0 auto;
}

.back-text1 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 1px black;
    margin-top: 8vh;
}

.back-text2 {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.email {
    width: 28vw;
    height: 7vh;
    border: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 6vh;
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
    float: left;
    padding-left: 2vw;
}

::placeholder {
    color: white;
    font-size: 0.90em;
}

hr {
    border: 0;
    height: 0.5vh;
    background: rgb(248, 0, 232);
    background: linear-gradient(90deg, rgba(248, 0, 232, 0.1516981792717087) 0%, rgba(166, 0, 255, 1) 50%, rgba(255, 0, 232, 0.14889705882352944) 100%);
    background-color: black;
}

.back2>img {
    float: left;
    border: 3px solid rgb(168, 0, 168);
    border-radius: 5px;
}

.back3>img {
    float: right;
    border: 3px solid rgb(168, 0, 168);
    border-radius: 5px;
}

.back4>img {
    float: left;
    border: 3px solid rgb(168, 0, 168);
    border-radius: 5px;
}

.back2-text {
    color: white;
    font-size: 4em;
    margin-bottom: 2vh;
}

.back2-text2 {
    color: white;
    font-size: 1.5em;
}

.text-div {
    margin: 10vh;
    margin-right: 15vw;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.footer {
    color: white;
    text-align: center;
    margin: 30px;
}