* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-image: url(../img/Purple\ galaxy\ dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.loja-text {
    position: absolute;
    width: 354px;
    height: 64px;
    left: 218px;
    top: 14px;
    background: linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: black;
    font-size: 33px;
}

.loja-text:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.login-container {
    box-sizing: border-box;
    position: absolute;
    width: 458px;
    height: 487px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, rgba(255, 0, 245, 0.6) 0%, rgba(215, 0, 250, 0.6) 80.08%, rgba(143, 0, 255, 0.6) 100%);
    border: 1px solid #f700ff93;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container>p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 48px;
    text-shadow: 1px 1px 1px black;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box>.text {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border-radius: 10px;
    border: 0;
    margin-bottom: 30px;
}

.input-box>.password {
    width: 317px;
    height: 72px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border-radius: 10px;
    border: 0;
    margin-bottom: 15px;
}

.input-box>.password:hover {
    transition: 300ms;
    transform: scale(1.1);
}

::placeholder {
    color: white;
    font-size: 23px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.text {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.password {
    margin-bottom: 20px;
    color: white;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
    padding-left: 10px;
}

.text:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.checkbox {
    margin-right: 10px;
    width: 25px;
}

.lembre {
    display: flex;
    margin-left: 73px;
    color: white;
    font-size: 20px;
    float: left;
    text-shadow: 1px 1px 1px black;
}

.lembre>a {
    text-decoration: none;
    color: white;
    float: right;
    margin-left: 120px;
}

.botao {
    width: 200px;
    height: 47px;
    margin: 0 auto;
    margin-top: 60px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #FF00F5 0%, #D700FA 52.08%, #8F00FF 100%);
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 20px;
}

.botao:hover {
    transition: 300ms;
    transform: scale(1.1);
}

textarea:focus, input:focus {
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
}
